<div class="container">
    <a href="partList/choose/gpu" type="button" class="btn btn-default btn-back-space">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Volver
    </a>
    <div class="row">
        <div class="col-md-3" style="background-color: #B1E38D; padding-top: 25px">
            <div align="center">
                <img src="{{image-url}}" alt="{{image-propieties}}"  width="150" height="150">
            </div>
            <h1>Especificaciones</h1>
            <hr>
            <p><strong>Memoria:</strong> {{memory}}</p>
            <p><strong>Frecuencia:</strong> {{frecuency}}</p>
        </div>
        <div class="col-md-3">
            <div style="max-width: 62em" class="container" data-ng-app="appTable" data-ng-controller="ComponentCtrl">
                <h1>{{component-name}}</h1>
                <table data-ng-table="tableParams" show-filter="true" class="table table-td-anchor" id="tableproducts" data-ng-init="getProviders('{{component-pn}}','{{component-type}}')">
                    <tr data-ng-repeat="provider in $data" data-ng-cloak>
                        <td data-title="'Proveedor'" sortable="'name'" filter="{'name': 'text'}" id="product-vendor-{{provider.name}}" class="col-sm-4 col-md-4 col-lg-4">
                            <img data-ng-src="assets/img/shops/{{provider.name}}.png" height="30" width="30" style="margin-right: 10px;"> {{provider.name}}
                        </td>
                        <td data-title="'Precio'" sortable="'price'" filter="{'price': 'text'}" class="col-sm-2 col-md-2 col-lg-2">
                            {{provider.price}} €
                        </td>
                        <td data-title="'Gastos de envío'" sortable="'delivery-fare'" filter="{'delivery-fare': 'text'}" class="col-sm-2 col-md-2 col-lg-2">
                            {{provider.delivery-fare}} €
                        </td>
                        <td data-title="'Total'" sortable="'total'" filter="{'total': 'text'}" id="product-price-{{provider.name}}" class="col-sm-2 col-md-2 col-lg-2">
                            {{provider.total}} €
                        </td>
                        <td>
                            <button id='add-product' type='button' class="btn btn-primary pull-right" data-ng-click="addComponent('{{component-pn}}','{{component-type}}', provider.name)">Añadir</button>
                        </td>
                    </tr>
                </table>
                <div class="container text-center top-margin"><i id="loadspin" class="fa fa-spinner fa-spin fa-5x "></i></div>
            </div>
        </div>
    </div>

</div>
