<div class="container">
    <div class="row">
        <div class="col-md-3" style="background-color: #B1E38D; padding-top: 25px">
            <div align="center">
            <img src="{{image-url}}" alt="{{image-propieties}}"  width="150" height="150">
            </div>
            <h1>Especificaciones</h1>
            <hr>
            <p><strong>Tamaño:</strong> {{size}}</p>
            <p><strong>Frecuencia:</strong> {{frecuency}}</p>
            <p><strong>Módulo:</strong> {{modules}}</p>
        </div>
        <div class="col-md-9">
            <h1>{{component-name}}</h1>
            <table class="table">
                <tr>
                    <th>Proveedor</th>
                    <th>Precio</th>
                    <th>Gastos de envío</th>
                    <th>Total</th>
                    <th></th>
                </tr>
                {{vendor-processor-list}}
            </table>
        </div>
    </div>
</div>
