<div class="container" data-ng-app="appTable" data-ng-controller="ComponentCtrl">
    <a href="partList" type="button" class="btn btn-default btn-back-space">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"> Volver</span>
    </a>
    <table data-ng-table="tableParams" show-filter="true" class="table" id="tableproducts" data-ng-init="getComponents('gpus')">
        <tr data-ng-repeat="component in $data" data-ng-cloak>
            <td data-title="'Nombre'" sortable="'name'" filter="{'name': 'text'}" class="col-sm-8 col-md-8 col-lg-8">
                <a href="/part/gpu/{{component.id}}">{{component.name}}</a>
            </td>
            <td data-title="'Memoria'" sortable="'memory'" filter="{'memory': 'text'}" class="col-sm-1 col-md-1 col-lg-1">
                {{component.memory}}
            </td>
            <td data-title="'Frecuencia'" sortable="'frequency'" filter="{'frequency': 'text'}" class="col-sm-1 col-md-1 col-lg-1">
                {{component.frequency}}
            </td>
            <td data-title="'Desde...'" sortable="'price'" class="col-sm-1 col-md-1 col-lg-1">
                {{component.price}} €
            </td>
            <td>
                <a href="/part/gpu/{{component.id}}" class="btn btn-primary btn-xs">
                    Ver comparativa
                </a>
            </td>
        </tr>
    </table>
    <div class="container text-center top-margin"><i id="loadspin" class="fa fa-spinner fa-spin fa-5x "></i></div>
</div>
