<div class="container" data-ng-app="appTable" data-ng-controller="ComponentCtrl">
    <table data-ng-table="tableParams" show-filter="true" class="table" id="tableproducts" data-ng-init="getComponents('memories')">
        <tr data-ng-repeat="component in $data" data-ng-cloak>
            <td data-title="'Nombre'" sortable="'name'" filter="{'name': 'text'}" class="col-sm-7 col-md-7 col-lg-7">
                <a href="/part/memory/{{component.id}}">{{component.name}}</a>
            </td>
            <td data-title="'Frecuencia'" sortable="'frequency'" filter="{'frequency': 'text'}" class="col-sm-1 col-md-1 col-lg-1">
                {{component.frequency}}
            </td>
            <td data-title="'Modulos'" sortable="'modules'" filter="{'modules': 'text'}" class="col-sm-1 col-md-1 col-lg-1">
                {{component.modules}}
            </td>
            <td data-title="'Tamaño'" sortable="'size'" filter="{'size': 'text'}" class="col-sm-1 col-md-1 col-lg-1">
                {{component.size}}
            </td>
            <td data-title="'Desde...'" sortable="'price'" class="col-sm-1 col-md-1 col-lg-1">
                {{component.price}} €
            </td>
            <td>
                <a href="/part/memory/{{component.id}}" class="btn btn-primary btn-xs">
                    Ver comparativa
                </a>
            </td>
        </tr>
    </table>
    <div class="container text-center top-margin"><i id="loadspin" class="fa fa-spinner fa-spin fa-5x "></i></div>
</div>
