<div class="container" data-ng-app="appTable" data-ng-controller="ComponentCtrl">
    <table data-ng-table="tableParams" show-filter="true" class="table" id="tableproducts" data-ng-init="getComponents('motherboards')">
        <tr data-ng-repeat="component in $data" data-ng-cloak>
            <td data-title="'Nombre'" sortable="'name'" filter="{'name': 'text'}" class="col-sm-9 col-md-9 col-lg-9">
                <a href="/part/motherboard/{{component.id}}">{{component.name}}</a>
            </td>
            <td data-title="'Socket'" sortable="'socket'" filter="{'socket': 'text'}" class="col-sm-1 col-md-1 col-lg-1">
                {{component.socket}}
            </td>
            <td data-title="'Desde...'" sortable="'price'" class="col-sm-1 col-md-1 col-lg-1">
                {{component.price}} €
            </td>
            <td>
                <a href="/part/motherboard/{{component.id}}" class="btn btn-primary btn-xs">
                    Ver comparativa
                </a>
            </td>
        </tr>
    </table>
    <div class="container text-center top-margin"><i id="loadspin" class="fa fa-spinner fa-spin fa-5x "></i></div>
</div>
