<div class="container" data-ng-app="appTable" data-ng-controller="ComponentCtrl">
    <table data-ng-table="tableParams" show-filter="true" class="table" id="tableproducts" data-ng-init="getComponents('powersupplies')">
        <tr data-ng-repeat="component in $data" data-ng-cloak>
            <td data-title="'Nombre'" sortable="'name'" filter="{'name': 'text'}" class="col-sm-6 col-md-6 col-lg-6">
                <a href="/part/power-supply/{{component.id}}">{{component.name}}</a>
            </td>
            <td data-title="'Vatios'" sortable="'watts'" filter="{'watts': 'text'}" class="col-sm-1 col-md-1 col-lg-1">
                {{component.watts}}
            </td>
            <td data-title="'Eficiencia'" sortable="'effiency'" filter="{'effiency': 'text'}" class="col-sm-1 col-md-1 col-lg-1">
                {{component.effiency}}
            </td>
            <td data-title="'Desde...'" sortable="'price'" class="col-sm-1 col-md-1 col-lg-1">
                {{component.price}} €
            </td>
            <td>
                <a href="/part/power-supply/{{component.id}}" class="btn btn-primary btn-xs">
                    Ver comparativa
                </a>
            </td>
        </tr>
    </table>
    <div class="container text-center top-margin"><i id="loadspin" class="fa fa-spinner fa-spin fa-5x "></i></div>
</div>
