<div class="container" data-ng-app="appTable" data-ng-controller="ComponentCtrl">
    <a href="partList" type="button" class="btn btn-default btn-back-space">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Volver
    </a>
    <table data-ng-table="tableParams" show-filter="true" class="table" id="tableproducts" data-ng-init="getComponents('storages')">
        <tr data-ng-repeat="component in $data" data-ng-cloak>
            <td data-title="'Nombre'" sortable="'name'" filter="{'name': 'text'}" class="col-sm-7 col-md-7 col-lg-7">
                <a href="/part/storage/{{component.id}}">{{component.name}}</a>
            </td>
            <td data-title="'Capacidad'" sortable="'capacity'" filter="{'capacity': 'text'}" class="col-sm-1 col-md-1 col-lg-1">
                {{component.capacity}}
            </td>
            <td data-title="'Formato'" sortable="'format'" filter="{'format': 'text'}" class="col-sm-1 col-md-1 col-lg-1">
                {{component.format}}
            </td>
            <td data-title="'Tipo'" sortable="'tpye'" filter="{'type': 'text'}" class="col-sm-1 col-md-1 col-lg-1">
                {{component.type}}
            </td>
            <td data-title="'Desde...'" sortable="'price'" class="col-sm-1 col-md-1 col-lg-1">
                {{component.price}} €
            </td>
            <td>
                <a href="/part/storage/{{component.id}}" class="btn btn-primary btn-xs">
                    Ver comparativa
                </a>
            </td>
        </tr>
    </table>
    <div class="container text-center top-margin"><i id="loadspin" class="fa fa-spinner fa-spin fa-5x "></i></div>
</div>
