<div class="container">
    <div class="row">
        <br>
        <div class="col-sm-6 col-md-3 grow">
            <div class="thumbnail text-center">
                <br>
                <img src="assets/img/about/aguas.jpg" alt="Bio" width="120" height="120" class="img-responsive img-circle">
                <div class="caption social-bar">
                    <h4>Iñigo Aguas Ardaiz</h4>
                    <p>Jodido Waters</p>
                    <p>
                        <a href="https://twitter.com/InigoAguas" target="_blank">
                            <i class="fa fa-twitter-square fa-2x twitter-color"></i>
                        </a>
                        <a href="https://www.facebook.com/inigo.aguasardaiz" target="_blank">
                            <i class="fa fa-facebook-square fa-2x facebook-color"></i>
                        </a>
                        <a href="https://github.com/iaguas" target="_blank">
                            <i class="fa fa-github-square fa-2x github-color"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 grow">
            <div class="thumbnail text-center">
                <br>
                <img src="assets/img/about/munarriz.png" alt="Bio" width="120" height="120" class="img-responsive img-circle">
                <div class="caption social-bar">
                    <h4>Iñaki García Munarriz</h4>
                    <p>El Muna</p>
                    <p>
                        <a href="https://twitter.com/inaki992" target="_blank">
                            <i class="fa fa-twitter-square fa-2x twitter-color"></i>
                        </a>
                        <a href="https://www.facebook.com/igarciamunarriz" target="_blank">
                            <i class="fa fa-facebook-square fa-2x facebook-color"></i>
                        </a>
                        <a href="https://github.com/artilerien" target="_blank">
                            <i class="fa fa-github-square fa-2x github-color"></i>
                        </a>
                        <a href="http://steamcommunity.com/profiles/76561198031364808" target="_blank">
                            <i class="fa fa-steam-square fa-2x steam-color"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 grow">
            <div class="thumbnail text-center">
                <br>
                <img src="assets/img/about/bio.jpg" alt="Bio" width="120" height="120" class="img-responsive img-circle">
                <div class="caption social-bar">
                    <h4>Álvaro Larumbe Munuce</h4>
                    <p>Dicen por ahí que es un genio...</p>
                    <p>
                        <a href="https://twitter.com/AlvaroElBio" target="_blank">
                            <i class="fa fa-twitter-square fa-2x twitter-color"></i>
                        </a>
                        <a href="https://www.facebook.com/alvaro.larumbe.1" target="_blank">
                            <i class="fa fa-facebook-square fa-2x facebook-color"></i>
                        </a>
                        <a href="https://www.linkedin.com/profile/view?id=392264695" target="_blank">
                            <i class="fa fa-linkedin-square fa-2x linkedin-color"></i>
                        </a>
                        <a href="https://github.com/AlvaroLarumbe" target="_blank">
                            <i class="fa fa-github-square fa-2x github-color"></i>
                        </a>
                        <a href="http://steamcommunity.com/id/biobiotm/" target="_blank">
                            <i class="fa fa-steam-square fa-2x steam-color"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 grow">
            <div class="thumbnail text-center">
                <br>
                <img src="assets/img/about/kevin.png" alt="Bio" width="120" height="120" class="img-responsive img-circle">
                <div class="caption social-bar">
                    <h4>Kevin Marques Paniagua</h4>
                    <p>El Pani</p>
                    <p>
                        <a href="https://twitter.com/kevinmp93" target="_blank">
                            <i class="fa fa-twitter-square fa-2x twitter-color"></i>
                        </a>
                        <a href="https://www.facebook.com/kevinmarques.1993" target="_blank">
                            <i class="fa fa-facebook-square fa-2x facebook-color"></i>
                        </a>
                        <a href="https://www.linkedin.com/profile/view?id=371239888" target="_blank">
                            <i class="fa fa-linkedin-square fa-2x linkedin-color"></i>
                        </a>
                        <a href="https://github.com/KevinMarques" target="_blank">
                            <i class="fa fa-github-square fa-2x github-color"></i>
                        </a>
                        <a href="http://steamcommunity.com/profiles/76561198007241417" target="_blank">
                            <i class="fa fa-steam-square fa-2x steam-color"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 grow">
            <div class="thumbnail text-center">
                <br>
                <img src="assets/img/about/paul.jpg" alt="Bio" width="120" height="120" class="img-responsive img-circle">
                <div class="caption social-bar">
                    <h4>Paul Vega Quishpe</h4>
                    <p>Quishpes</p>
                    <p>
                        <a href="https://twitter.com/paul_vega_17" target="_blank">
                            <i class="fa fa-twitter-square fa-2x twitter-color"></i>
                        </a>
                        <a href="https://www.facebook.com/paul.vega.73" target="_blank">
                            <i class="fa fa-facebook-square fa-2x facebook-color"></i>
                        </a>
                        <a href="https://github.com/paulvega63" target="_blank">
                            <i class="fa fa-github-square fa-2x github-color"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
