/* Open Sans Font */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

/* Estilos generales */
body {
    font-family: "Open Sans", sans-serif;
    background-color: #FAFAFA;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.logo-navbar {
    max-width: 100px;
    margin-top: -5px;
}

.g-container{
    border: 2px solid #87c55c;
    padding: 5px;
    margin: 10px 0px;
    float: right;
    font-size: 2em;
    text-align: center;
}

.footer{
    background-color: #2a2f35;
    color: lightgray;
    font-size: 1.3em;
    padding: 5px;
    padding-top: 20px;
    text-align: center;
}

.top-margin {
    margin-top: 10em;
}

.btn-start-build {
    max-width: 20em;
    margin: 0px auto;
}

.main-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 56px;
}

.main-description {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.div-btn {
    border: 1px solid #458419;
    background-color: #B1E38D;
    height:150px;
    width:150px;
    cursor:pointer;
    text-align: center;
    position: relative;
    padding: 10px;
    font-size: 1.8em;
    border-radius: 25%;
    display: inline-block;
    margin-top: 2em;
}

.div-btn a {
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration: none;
    color: #458419;
}

.div-btn a:hover{
    color: #88C55C;
}

.div-btn:hover {
    background-color: #458419;
}

.div-panel-btn {
    border: 1px solid #458419;
    background-color: #B1E38D;
    height:200px;
    width:200px;
    cursor:pointer;
    text-align: center;
    position: relative;
    padding: 15px;
    font-size: 2em;
    border-radius: 5%;
    display: inline-block;
    margin-top: 2em;
}

.div-panel-btn a {
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration: none;
    color: #458419;
}

.div-panel-btn a:hover{
    color: #88C55C;
}

.div-panel-btn:hover {
    background-color: #458419;
}

.social-bar {
    text-decoration: none;
}

.social-bar a:link {
    text-decoration: none;
}

.social-bar a:visited {
    text-decoration: none;
}

.social-bar a:active {
    text-decoration: none;
}

.social-bar i:hover {
    color: #000000;
    transition: color 0.2s;
}

.google-plus-color {
    color: #E14907;
    display: inherit;
}

.twitter-color {
    color: #4099FF;
    display: inherit;
}

.facebook-color {
    color: #3B5998;
    display: inherit;
}

.linkedin-color {
    color: #4875B4;
    display: inherit;
}

.github-color {
    color: #333333;
    display: inherit;
}

.steam-color {
    color: #333333;
    display: inherit;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

/* Arreglo para ocultar elementos con el tag ng-cloak
   hasta que se compilen las vistas de Angular */
[ng\:cloak], [ng-cloak], [data-ng-cloak], .ng-cloak, .data-ng-cloak {
    display: none !important;
}

.table-td-anchor td a{
    display: block;
}

/* Navbar styles */
.navbar-default {
    background-color: #2a2f35;
    border-color: #87c55c;
}
.navbar-default .navbar-brand {
    color: #d3d3d3;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #d3d3d3;
}
.navbar-default .navbar-text {
    color: #d3d3d3;
}
.navbar-default .navbar-nav > li > a {
    color: #d3d3d3;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #d3d3d3;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #2a2f35;
    background-color: #87c55c;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #d3d3d3;
    background-color: #87c55c;
}
.navbar-default .navbar-toggle {
    border-color: #87c55c;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #87c55c;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #d3d3d3;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #d3d3d3;
}
.navbar-default .navbar-link {
    color: #d3d3d3;
}
.navbar-default .navbar-link:hover {
    color: #d3d3d3;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #d3d3d3;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #d3d3d3;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #d3d3d3;
        background-color: #87c55c;
    }
}

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

/*
* Estilo para agrandar un objeto al pasar el ratón por encima
*/
.grow {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.grow:hover, .grow:focus, .grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index:1;
}
