/* Estilos generales */
body {
    font-family: "Open Sans", sans-serif;
    background-color: #FAFAFA;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.logo-navbar {
    max-width: 100px;
    margin-top: -5px;
}

.g-container{
    border: 2px solid #87c55c;
    padding: 5px;
    margin: 10px 0px;
    float: right;
    font-size: 2em;
    text-align: center;
}

.footer{
    background-color: #87c55c;
    color: #2a2f35;
    font-size: 1.3em;
    padding: 5px;
    padding-top: 20px;
    text-align: center;
}

.top-margin {
    margin-top: 10em;
}

.btn-start-build {
    max-width: 20em;
    margin: 0px auto;
}

.main-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 56px;
}

.main-description {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
}
