/* Index styles */
body {
    font-family: "Open Sans", sans-serif;
    background-color: #FAFAFA;
}

.top-margin {
    margin-top: 10em;
}

.btn-start-build {
    max-width: 20em;
    margin: 0px auto;
}

.footer-color {
    /*color: #000000;*/
}

.main-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 56px;
}

.logo-navbar {
    max-width: 100px;
    margin-top: -5px;
}
