/* Index styles */
body {
    background-image: url("../img/bg.jpg");
    background-size: cover;
}

.top-margin {
    margin-top: 20em;
}

.btn-start-build {
    max-width: 20em;
    margin: 0px auto;
}

.footer-color {
    color: lightgrey;
}

.aph {
    font-size: 50px;
    color: #ffffff;
    text-shadow: 5px 5px 8px #262626;
}