/* Landing styles */
body {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    background-size: cover;
}

.top-margin {
    margin-top: 5em;
}

.btn-start-build {
    max-width: 20em;
    margin: 0px auto;
}

.main-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 56px;
}

.main-description {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.quienes-somos {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
}

font {
    font-family: "Open Sans", sans-serif;
}

/* Arreglo para ocultar elementos con el tag ng-cloak
   hasta que se compilen las vistas de Angular */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}
